<ng-xform-form-control-layout [fieldComponent]="instance">
  <div class="radio" *ngFor="let item of optionValues">
    <label>
      <input type="radio" name="{{field.key}}"  id="{{elementId}}-{{item | nestedAttribute: field.optionValueKey}}"
       [formControl]="control"
       [value]="item | nestedAttribute: field.optionValueKey"
       [checked]="(item | nestedAttribute: field.optionValueKey) == control.value" />{{item | nestedAttribute: field.optionLabelKey}}
    </label>
  </div>
</ng-xform-form-control-layout>
