<div [hidden]="!fieldComponent.visible"
  id="{{fieldComponent.elementId}}-div"
  class="form-group"
  [formGroup]="fieldComponent.form">
  <label *ngIf="!fieldComponent.hideLabelOnEdit || (!fieldComponent.isEditing && fieldComponent.visible)"
   for="{{fieldComponent.elementId}}"
   [ngClass]="labelStyleClass">
    {{ fieldComponent.field.label }}
    <ng-xform-required-field-tag
     *ngIf="fieldComponent.isEditing"
     [horizontal]='fieldComponent.isHorizontal'
     [optional]="fieldComponent.isOptional"></ng-xform-required-field-tag>
  </label>

  <div [ngClass]="fieldStyleClassCheckbox"
   [hidden]="!fieldComponent.isEditing && fieldComponent.visible && fieldComponent.useFormattedValueOnReadonly">
    <ng-content></ng-content>
    <ng-xform-field-error-message [control]="fieldComponent.control"></ng-xform-field-error-message>
  </div>

  <div [ngClass]="fieldStyleClass"
   *ngIf="!fieldComponent.isEditing && fieldComponent.visible && fieldComponent.useFormattedValueOnReadonly"
   [class.horizontal-readonly]="fieldComponent.isHorizontal"
   [class.readonly]="!fieldComponent.isHorizontal"
   class="text-muted class.readonly">
    {{ fieldComponent.formattedValue }}
  </div>
</div>
