<div *ngIf="!fieldComponent.isEditing && fieldComponent.visible" id="{{fieldComponent.elementId}}-label">
  <strong [ngClass]="labelStyleClass">{{ fieldComponent.field.label }}</strong>
  <div [ngClass]="fieldStyleClass" [class.horizontal-readonly]="fieldComponent.isHorizontal"
  [class.readonly]="!fieldComponent.isHorizontal" class="text-muted">
    {{ fieldComponent.formattedValue }}
  </div>
</div>
<div [hidden]="!fieldComponent.isEditing || !fieldComponent.visible" id="{{fieldComponent.elementId}}-div" class="form-group"
[formGroup]="fieldComponent.form">
  <label *ngIf="!fieldComponent.hideLabelOnEdit" for="{{fieldComponent.elementId}}" [ngClass]="labelStyleClass">
    {{ fieldComponent.field.label }}
    <ng-xform-optional-tag *ngIf='!fieldComponent.isHorizontal' [show]="fieldComponent.isOptional"></ng-xform-optional-tag>
    <ng-container *ngIf='fieldComponent.isHorizontal && !fieldComponent.isOptional'>
        <span style='color: red'>*</span>
    </ng-container>
    
  </label>
  <div [ngClass]="fieldStyleClassCheckbox">
    <ng-content></ng-content>
    <ng-xform-field-error-message [control]="fieldComponent.control"></ng-xform-field-error-message>
  </div>
</div>
