<div *ngIf="!editing" id="{{field.key}}-label">
  <strong>{{ field.label }}</strong>
  <p class="text-muted">{{ form?.controls[field.key]?.value | valueSuffix }}</p>
</div>

<div *ngIf="editing" id="{{elementId}}-div" class="form-group" [formGroup]="form" [ngClass]="displayFieldCss()">
  <label for="{{elementId}}">{{field.label}}</label>
  <input id="{{elementId}}" class="form-control" [formControlName]="field.key"
  ngui-auto-complete [source]="field.source" [list-formatter]="field.listFormatter"
  [value-formatter]="field.valueFormatter" [accept-user-input]="false" />
  <ng-xform-field-error-message [control]="control"></ng-xform-field-error-message>
</div>
