<div *ngIf="!isEditing" id="{{elementId}}-label">
  <strong>{{ field.label }}</strong>
  <p class="text-muted">{{ form?.controls[elementId]?.value ? 'True' : 'False' }}</p>
</div>

<div *ngIf="isEditing" id="{{elementId}}-div" class="form-group" [formGroup]="form" [ngClass]="displayFieldCss()">
  <div class="checkbox">
    <label>
      <input type="checkbox" [formControlName]="elementId" id="{{elementId}}" /> {{field.label}}
    </label>
  </div>
  <ng-xform-field-error-message [control]="control"></ng-xform-field-error-message>
</div>
