<ng-xform-form-layout
  [isHorizontal]="isHorizontal"
  [elementId]="elementId"
  [label]="field.label"
  [formattedValue]="quantity ? quantity.format(viewUnit) : '-'"
  [isOptional]="isOptional"
  [control]="control"
  [form]="form"
  [styleClasses]="displayFieldCss()"
  [labelWidth]="labelWidth"
  [isEditing]="isEditing || !visible">
  <div [class.input-group]="viewUnit" [class.form-group]="!viewUnit">
    <input type="number" id="{{elementId}}" class="form-control" />
    <div *ngIf="viewUnit" class="input-group-addon" dropdown>
      <span style="cursor: pointer;" dropdownToggle>
        {{viewUnit}}
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" *dropdownMenu>
        <li *ngFor="let item of availableUnits">
          <a href="javascript:void(0);" (click)="changeUnit(item)">{{ item }}</a>
        </li>
      </ul>
    </div>
  </div>
</ng-xform-form-layout>
