<div [hidden]="isEditing" id="{{field.key}}-label">
    <strong>{{ field.label }}</strong>
    <p class="text-muted">{{ optionLabel }} </p>
</div>
<div [hidden]="!isEditing" class="form-group" [ngClass]="displayFieldCss()" id="{{field.key}}-div">
    <label for="{{elementId}}">{{field.label}}</label> <ng-xform-optional-tag [show]="isOptional"></ng-xform-optional-tag>
    <ng-select id='{{elementId}}'
    [searchable]="field.searchable"
    [typeahead]="typeahead"
    [items]="optionValues"
    [multiple]="field.multiple"
    [markFirst]="field.markFirst"
    bindLabel="{{field.labelAttribute}}"
    bindValue="{{field.valueAttribute}}">
    </ng-select>
    <ng-xform-field-error-message [control]="control"></ng-xform-field-error-message>
</div>
