<ng-xform-form-layout
[elementId]="elementId"
[label]="field.label"
[formattedValue]="optionLabel"
[form]="form"
[control]="control"
[styleClasses]="displayFieldCss()"
[labelWidth]="labelWidth"
[isHorizontal]="isHorizontal"
[isOptional]="isOptional"
[isEditing]="isEditing && visible">
  <ng-select id='{{elementId}}'
  [searchable]="field.searchable"
  [typeahead]="typeahead"
  [items]="optionValues"
  [multiple]="field.multiple"
  [markFirst]="field.markFirst"
  bindLabel="{{field.optionLabelKey}}"
  bindValue="{{field.optionValueKey}}">
  </ng-select>
</ng-xform-form-layout>
