<div *ngIf="!editing" id="{{field.key}}-label">
    <strong>{{ field.label }}</strong>
    <p class="text-muted">{{ getOptionLabel() }} </p>
</div>
<div *ngIf="editing" class="form-group" [formGroup]="form" [ngClass]="displayFieldCss()" id="{{field.key}}-div">
    <label for="{{elementId}}">{{field.label}}</label>
    <ng-select id='{{elementId}}' [formControlName]="elementId"
    [searchable]="field.searchable"
    [items]="optionValues"
    [multiple]="field.multiple"
    [markFirst]="field.markFirst"
    bindLabel="{{field.labelAttribute}}"
    bindValue="{{field.valueAttribute}}">
    </ng-select>
    <ng-xform-field-error-message [control]="control"></ng-xform-field-error-message>
</div>
