<div>
  <form [formGroup]="form">
    <ng-xform-form-group [fields]='fields' [form]=form [editing]='editing'></ng-xform-form-group>
  </form>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="alert alert-warning alert-dismissible" *ngIf="errorCode" role="alert">
      <strong>Oops!</strong> Something went wrong with the server. Error code: {{ errorCode }}
    </div>
  </div>
</div>
<div class="row">
  <div class=" col-sm-12 text-right">
    <button type="submit" class="btn btn-primary" (click)="setEditing(true)" *ngIf="editing === false">
      <span class="fa fa-pencil"></span> Edit
    </button>
    <ng-template [ngIf]="editing !== false">
      <button [disabled]="form.invalid" type="submit" id="formSubmitBtn" class="btn btn-primary" (click)="submit()">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </ng-template>
  </div>
</div>
