<div *ngIf="!isEditing" id="{{field.key}}-label">
  <strong>{{ field.label }}</strong> <small *ngIf="isOptional"  style="color: gray">(optional)</small>
  <p class="text-muted">{{ form?.controls[field.key]?.value | valueSuffix }}</p>
</div>

<div *ngIf="isEditing" id="{{elementId}}-div" class="form-group" [formGroup]="form" [ngClass]="displayFieldCss()">
  <label for="{{elementId}}">{{field.label}}</label> <small *ngIf="isOptional"  style="color: gray">(optional)</small>
  <textarea [attr.rows]="field.rows" id="{{elementId}}" class="form-control" [formControlName]="elementId"></textarea>
  <ng-xform-field-error-message [control]="control"></ng-xform-field-error-message>
</div>
